@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /* color: #21092F; */
  background: #0B0D17;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Barlow Condensed', sans-serif;
  /* font-family: 'Bellefair', serif; */
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
